/*
@author: Elias Posluk
Student-id: elipos-5
Uppgift: uppgift 1, CSS
@date 20/02/2021
Luleå tekniska universitet
Webbutveckling II - Skriptspråk och databaser
*/
body {
    color: #000000;
    text-align: center;
}
h1 {
    color: blue;
    font: italic 54px fantasy;
}
p {
    color: #000000;
    font-size: 20px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
}